---
name: Run cmake tests

on:
  - push
  - pull_request

jobs:
  test:
    name: Run CMake Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tests
        run: cmake -P tests/runner.cmake
